# MO&PC Project

In [1]:
import pandas as pd
import sqlite3
import os

notebook_folder = os.getcwd()

pagos_unificados_path = os.path.join(notebook_folder, 'pagos_unificados.csv')
periodos_tableros_path = os.path.join(notebook_folder, 'periodos_tableros.csv')

# 1. Creaci贸n de una DB SQL cloud o local:
database_path = os.path.join(notebook_folder, 'PROJECTMOPCDATABASE.db')

pagos_unificados = pd.read_csv(pagos_unificados_path)
periodos_tableros = pd.read_csv(periodos_tableros_path)

conn = sqlite3.connect(database_path)

pagos_unificados.to_sql('PAGOS_UNIFICADOS', conn, index=False, if_exists='replace')
periodos_tableros.to_sql('PERIODOS_TABLEROS', conn, index=False, if_exists='replace')

# 2. Consulta SQL para luego generar una vista que contenga la informaci贸n necesaria para la visualizaci贸n:

query = """
SELECT 
    CASE 
        WHEN SUBSTR(pt.IDCLIENTE, 1, 4) = 'AMEX' THEN 'AMEX'
        WHEN SUBSTR(pt.IDCLIENTE, 1, 4) = 'HSBC' THEN 'HSBC'
        ELSE 'OTROS'
    END AS Categoria,
    pt.IDCLIENTE,
    pt.Periodo,
    pt.Finicio AS Fecha_Inicio,
    COALESCE(SUM(pu.Monto), 0) AS Suma_Monto,
    CASE 
        WHEN pt.Periodo = 'julio2021' THEN '2021-07-01'
        WHEN pt.Periodo = 'junio2021' THEN '2021-06-01'
        WHEN pt.Periodo = 'mayo2021' THEN '2021-05-01'
        WHEN pt.Periodo = 'abril2021' THEN '2021-04-01'
        WHEN pt.Periodo = 'marzo2021' THEN '2021-03-01'
        WHEN pt.Periodo = 'febrero2021' THEN '2021-02-01'
        ELSE NULL
    END AS ComienzoDeMesCalendario
FROM 
    PERIODOS_TABLEROS pt,
    PAGOS_UNIFICADOS pu
WHERE
    pu.IDCLIENTE = pt.IDCLIENTE
    AND (
        (pu.Fuente_Pago = 'MEMO_PAGO_OPERADOR' AND pu.Fecha_remesa IS NOT NULL AND pu.Fecha_remesa BETWEEN pt.Finicio AND pt.Ffin)
        OR
        (pu.Fuente_Pago = 'MEMO_PAGO_OPERADOR' AND pu.Fecha_remesa IS NULL AND pu.Fecha_pago BETWEEN pt.Finicio AND pt.Ffin)
        OR
        (pu.Fuente_Pago <> 'MEMO_PAGO_OPERADOR' AND pu.Fecha_pago BETWEEN pt.Finicio AND pt.Ffin)
    )
    AND pt.Periodo IN (
        SELECT Periodo
        FROM (
            SELECT 
                pt.IDCLIENTE,
                pt.Periodo,
                ROW_NUMBER() OVER (PARTITION BY pt.IDCLIENTE ORDER BY pt.Finicio DESC) AS rn
            FROM 
                PERIODOS_TABLEROS pt
        ) AS Subquery
        WHERE rn <= 6
    )
GROUP BY 
    Categoria,
    pt.IDCLIENTE,
    pt.Periodo,
    pt.Finicio
ORDER BY 
    Categoria, 
    pt.IDCLIENTE, 
    pt.Finicio DESC;
"""

# Creaci贸n de la vista utilizando la consulta anterior, una vez chequeado su funcionamiento
conn.execute("CREATE VIEW IF NOT EXISTS ViewSeisUltimosPeriodosMOPC AS " + query)

# Acceso a la vista
result = pd.read_sql_query("SELECT * FROM ViewSeisUltimosPeriodosMOPC;", conn)

pd.set_option('display.max_rows', None)
print(result)

# Lee la base de datos y accede a la vista generada
result = pd.read_sql_query("SELECT * FROM ViewSeisUltimosPeriodosMOPC;", conn)

# 3. y 4. Materializar la vista en una tabla utilizando Python:
result.to_csv('ViewSeisUltimosPeriodosMOPC.csv', index=False) 

# 5. Dashboard utilizando el spreadsheet generado:   https://lookerstudio.google.com/reporting/aeb7aa24-88ec-40c7-a77f-2df4c01f7980

   Categoria          IDCLIENTE      PERIODO Fecha_Inicio  Suma_Monto  \
0       AMEX          AMEX_ALHR    julio2021   2021-06-29    27900.00
1       AMEX          AMEX_ALHR    junio2021   2021-05-29    27126.00
2       AMEX          AMEX_ALHR     mayo2021   2021-04-28    39310.42
3       AMEX          AMEX_ALHR    abril2021   2021-03-30    23000.00
4       AMEX          AMEX_ALHR    marzo2021   2021-02-26   281930.07
5       AMEX          AMEX_ALHR  febrero2021   2021-01-28    38684.00
6       AMEX          AMEX_ALLR    julio2021   2021-06-29     8185.00
7       AMEX          AMEX_ALLR    junio2021   2021-05-29    16432.44
8       AMEX          AMEX_ALLR     mayo2021   2021-04-28     9000.00
9       AMEX          AMEX_ALLR    abril2021   2021-03-30    33529.33
10      AMEX          AMEX_ALLR    marzo2021   2021-02-26     4700.00
11      AMEX          AMEX_ALLR  febrero2021   2021-01-28     6845.25
12      AMEX          AMEX_PALM    julio2021   2021-06-29    14679.00
13      AMEX          AMEX_PALM    junio2021   2021-05-29     2000.00
14      AMEX          AMEX_PALM     mayo2021   2021-04-28    21612.02
15      AMEX          AMEX_PALM    abril2021   2021-03-30    18954.20
16      AMEX          AMEX_PALM    marzo2021   2021-02-26    56346.49
17      AMEX          AMEX_PALM  febrero2021   2021-01-28    61125.04
18      AMEX          AMEX_PARM    julio2021   2021-06-29   119028.28
19      AMEX          AMEX_PARM    junio2021   2021-05-29   188867.22
20      AMEX          AMEX_PARM     mayo2021   2021-04-28   467135.11
21      AMEX          AMEX_PARM    abril2021   2021-03-30   100641.75
22      AMEX          AMEX_PARM    marzo2021   2021-02-26   268478.80
23      AMEX          AMEX_PARM  febrero2021   2021-01-28    60757.61
24      AMEX          AMEX_PBLM  febrero2021   2021-01-28      500.00
25      AMEX          AMEX_PBRM  febrero2021   2021-01-28     9664.12
26      AMEX          AMEX_PFLM  febrero2021   2021-01-28     1260.00
27      AMEX          AMEX_PNCM    julio2021   2021-06-29    15385.02
28      AMEX          AMEX_PNCM    junio2021   2021-05-29   185792.17
29      AMEX          AMEX_PNCM     mayo2021   2021-04-28    13500.00
30      AMEX          AMEX_PNCM    abril2021   2021-03-30    30635.00
31      AMEX          AMEX_PNCM    marzo2021   2021-02-26    59301.18
32      AMEX          AMEX_PNCM  febrero2021   2021-01-28    49234.49
33      AMEX          AMEX_QINM  febrero2021   2021-01-28    37420.00
34      AMEX          AMEX_QIPM    julio2021   2021-06-29     5887.05
35      AMEX          AMEX_QIPM    abril2021   2021-03-30    13820.73
36      AMEX          AMEX_QRNM    junio2021   2021-05-29     8202.26
37      AMEX          AMEX_QRPM  febrero2021   2021-01-28    13532.07
38      AMEX          AMEX_TNCM    junio2021   2021-05-29     4000.00
39      AMEX          AMEX_TNLM     mayo2021   2021-04-28    13032.22
40      AMEX          AMEX_TNLM    marzo2021   2021-02-26     2460.00
41      AMEX          AMEX_TNLM  febrero2021   2021-01-28    26080.58
42      AMEX          AMEX_TNRM    marzo2021   2021-02-26      552.00
43      AMEX          AMEX_TNRM  febrero2021   2021-01-28    22460.00
44      HSBC          HSBC_2019    julio2021   2021-07-01    27247.00
45      HSBC          HSBC_2019    junio2021   2021-06-01      270.00
46      HSBC          HSBC_2019     mayo2021   2021-05-01    45020.00
47      HSBC          HSBC_2019    abril2021   2021-04-01    14500.00
48      HSBC          HSBC_2019    marzo2021   2021-03-01     4500.00
49      HSBC          HSBC_2019  febrero2021   2021-02-01        0.00
50      HSBC     HSBC_LEGALES14    julio2021   2021-07-01    18200.00
51      HSBC     HSBC_LEGALES14    junio2021   2021-06-01    41500.00
52      HSBC     HSBC_LEGALES14     mayo2021   2021-05-01   268970.00
53      HSBC     HSBC_LEGALES14    abril2021   2021-04-01    63870.00
54      HSBC     HSBC_LEGALES14    marzo2021   2021-03-01    83830.00
55      HSBC     HSBC_LEGALES14  febrero2021   2021-02-01    70470.00
56      HSBC  HSBC_LEGALES_TEMP    julio2021   2021-07-01    22100.00
57      HSBC  HSBC_LEGALES_TEMP    junio2021   2021-06-01    43500.00
58      HSBC  HSBC_LEGALES_TEMP     mayo2021   2021-05-01   211800.00
59      HSBC  HSBC_LEGALES_TEMP    abril2021   2021-04-01    41930.00
60      HSBC  HSBC_LEGALES_TEMP    marzo2021   2021-03-01    23294.00
61      HSBC  HSBC_LEGALES_TEMP  febrero2021   2021-02-01    41500.00
62     OTROS         BSR_TARDIA    julio2021   2021-06-29   304812.72
63     OTROS         BSR_TARDIA    junio2021   2021-05-28   185049.62
64     OTROS         BSR_TARDIA     mayo2021   2021-04-29   205029.83
65     OTROS         BSR_TARDIA    abril2021   2021-03-30   167848.36
66     OTROS         BSR_TARDIA    marzo2021   2021-02-25   192575.24
67     OTROS         BSR_TARDIA  febrero2021   2021-01-28   119199.42
68     OTROS       FRANCES_2012    julio2021   2021-07-01   939918.48
69     OTROS       FRANCES_2012    junio2021   2021-06-01  1941993.00
70     OTROS       FRANCES_2012     mayo2021   2021-05-01  1318642.66
71     OTROS       FRANCES_2012    abril2021   2021-04-01   682134.00
72     OTROS       FRANCES_2012    marzo2021   2021-03-01   868027.00
73     OTROS       FRANCES_2012  febrero2021   2021-02-01   755471.00

   ComienzoDeMesCalendario
0               2021-07-01
1               2021-06-01
2               2021-05-01
3               2021-04-01
4               2021-03-01
5               2021-02-01
6               2021-07-01
7               2021-06-01
8               2021-05-01
9               2021-04-01
10              2021-03-01
11              2021-02-01
12              2021-07-01
13              2021-06-01
14              2021-05-01
15              2021-04-01
16              2021-03-01
17              2021-02-01
18              2021-07-01
19              2021-06-01
20              2021-05-01
21              2021-04-01
22              2021-03-01
23              2021-02-01
24              2021-02-01
25              2021-02-01
26              2021-02-01
27              2021-07-01
28              2021-06-01
29              2021-05-01
30              2021-04-01
31              2021-03-01
32              2021-02-01
33              2021-02-01
34              2021-07-01
35              2021-04-01
36              2021-06-01
37              2021-02-01
38              2021-06-01
39              2021-05-01
40              2021-03-01
41              2021-02-01
42              2021-03-01
43              2021-02-01
44              2021-07-01
45              2021-06-01
46              2021-05-01
47              2021-04-01
48              2021-03-01
49              2021-02-01
50              2021-07-01
51              2021-06-01
52              2021-05-01
53              2021-04-01
54              2021-03-01
55              2021-02-01
56              2021-07-01
57              2021-06-01
58              2021-05-01
59              2021-04-01
60              2021-03-01
61              2021-02-01
62              2021-07-01
63              2021-06-01
64              2021-05-01
65              2021-04-01
66              2021-03-01
67              2021-02-01
68              2021-07-01
69              2021-06-01
70              2021-05-01
71              2021-04-01
72              2021-03-01
73              2021-02-01